* {
  overflow: auto !important;
  line-height: 1.75;
}
.w-full {
  width: 100%;
}
#root {
  max-height: 30%;
}
#root > .url-container + .url-container {
  /* border-top: solid #505050 1px; */
  box-shadow: 0 -1px 0 #aaaaaa;
}
.url-container {
  overflow-x: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* tab_active */
[data-tab-content] {
  display: none;
}
[data-tab-content="active"] {
  display: block;
}

/* For load format options */
.control:has(#isLoadSameAsCopy:checked) + .control:has(#loadFormat) {
  display: none;
}

/* Increase font size on android */
@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
  .hide {
    display: none;
  }
}

/* Options page, give margin-bottom to the last child */
.container.is-fluid.optionsDiv > :last-child {
  margin-block-end: 1rem;
}
